<!------------------- This is for the blog post html page -------------------------->

{% if user.is_authenticated %}
<div class="card !pb-0 -mt-3">
    <form class="flex items-center p-4" autocomplete="off"
    hx-post="{% url 'comment-sent' post.id %}" 
    hx-target="#tab-contents" 
    hx-swap="afterbegin"
    _="on htmx:afterRequest reset() me" >
        {% csrf_token %}
        {{ comment_form }}
        <button @click="open = false" class="block ml-2" type="submit">Submit</button>
    </form>
</div>
{% endif %}



<div id="tab-contents">
    {% for comment in post.comments.all %}
    {% include 'a_posts/comment.html' %}
    {% endfor %}
</div>


<!--------------------- This is for the Comments HTML page---------------------------->

{% load static %}
<comment class="card p-4 !mb-4">
    <div class="flex justify-between items-center"> 
        {% if comment.author %}
        <a class="flex items-center gap-1 mb-2" href="{% url 'userprofile' comment.author.username  %}">
            <img class="w-8 h-8 object-cover rounded-full" src="{{ comment.author.profile.avatar }}"> 
            <span class="font-bold hover:underline">{{ comment.author.profile.name }}</span>
            <span class="text-sm font-normal text-gray-400">@{{ comment.author.username }}</span>
        </a>
        {% else %}
        <div class="flex items-center gap-1 mb-4">
            <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar_default.svg' %}">
            <span class="text-gray-500">no author</span>
        </div>
        {% endif %}
    </div>
    <p class="text-xl px-2">
        {{ comment.body }}
    </p>
    <div x-data="{ repliesOpen: false }" class="flex items-center justify-between flex-wrap text-sm px-2">
        <a @click="repliesOpen = !repliesOpen" class="font-bold hover:underline cursor-pointer">
            {% if comment.replies.count or user.is_authenticated %}
            <div class="inline-block" x-bind:class="repliesOpen && 'rotate-90 duration-300'">
                <svg transform ="rotate(90)" width="9" height="9" viewBox="0 0 25 25">
                    <path d="M24 22h-24l12-20z"/>
                </svg>
            </div>
            {% endif %}
            {% if comment.replies.count %}
            Replies
            <span id="repliescount-{{ comment.id }}" class="font-light text-gray-500 ml-1">{{ comment.replies.count }}</span>
            {% else %}
                {% if user.is_authenticated %}
                Add Reply
                {% endif %}
            {% endif %}
        </a>
        <div class="flex items-center gap-4 [&>a:hover]:underline">
            {% include 'snippets/likes_comment.html' %}
            {% if user.is_authenticated and comment.author == user %}
            <a href="{% url 'comment-delete' comment.id %}">Delete</a>
            {% endif %}
        </div>

        <div x-show="repliesOpen" x-cloak class="basis-full mt-3 pl-8 grid grid-cols-1">

            {% for reply in comment.replies.all %}
            {% include 'a_posts/reply.html' %}
            {% endfor %}

            {% if user.is_authenticated %}
            <form class="replyform flex justify-between" autocomplete="off"
            hx-post="{% url 'reply-sent' comment.id %}"
            hx-target="this" 
            hx-swap="outerHTML" >
                {% csrf_token %}
                {{ replyform }}
                <button class="block" type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
    </div> 
</comment>


<!--------------------- This is for the add Comments Post HTML page---------------------------->

<fade-in class="opacity-0 block -mt-20 ease-in-out" 
_="on load transition my margin-top to 0 over 0.2 seconds then transition my opacity to 1 over 0.4 seconds">
{% include 'a_posts/comment.html' %}
</fade-in>

<span hx-swap-oob="true" id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-1">
{{ post.comments.count }}
</span>

<!--------------------- This is for the add Replies Post HTML page---------------------------->

<fade-in class="opacity-0 block -mt-20 ease-in-out" 
_="on load transition my margin-top to 0 over 0.2 seconds then transition my opacity to 1 over 0.4 seconds">
{% include 'a_posts/reply.html' %}
</fade-in>

<form class="replyform flex justify-between" autocomplete="off"
hx-post="{% url 'reply-sent' comment.id %}"
hx-target="this" 
hx-swap="outerHTML" >
    {% csrf_token %}
    {{ replyform }}
    <button class="block" type="submit">Submit</button>
</form>

<span hx-swap-oob="true" id="repliescount-{{ comment.id }}" class="font-light text-gray-500 ml-1">{{ comment.replies.count }}</span> 

<!-----------------------  This is the post page HTML-------------------------->

{% load static %}
<article class="card">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-start leading-5 mr-1">{{ post.title }}</h3>
        <div class="text-sm text-gray-400 truncate">flickr<a href="{{ post.url }}" class="hover:underline ml-1" target="blank">@{{ post.artist }}</a></div>
    </div>
    <figure>
        <a href="{% url 'post' post.id %}"><img class="w-full" src="{{ post.image }}"></a>
    </figure>
    <div class="p-4 pb-2">
        {% if post.author %}
        <a class="flex items-center gap-1 mb-4" href="{% url 'userprofile' post.author.username %}">
            <img class="w-8 h-8 object-cover rounded-full" src="{{ post.author.profile.avatar }}">  
            <span class="font-bold hover:underline">{{ post.author.profile.name }}</span>
            <span class="text-sm text-gray-400">@{{ post.author.username }}</span>          
        </a>
        {% else %}
        <div class="flex items-center gap-1 mb-4">
            <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar_default.svg' %}">
            <span class="text-gray-500">no author</span>
        </div>
        {% endif %}
        <p class="text-5xl mb-10 px-4 font1">{{ post.body }}</p>
        <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
            {% for tag in post.tags.all %}
            <a href="{% url 'category' tag.slug %}" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="flex items-center justify-between text-sm px-2">
            <a class="font-bold hover:underline" href="{% url 'post' post.id %}">
                {% if post.comments.count %}
                Comments
                <span id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-1">{{ post.comments.count }}</span>
                {% else %}
                    {% if user.is_authenticated %}
                    Add comment
                    {% endif %}
                {% endif %}
            </a>
            <div class="flex items-center gap-4 [&>a:hover]:underline">
                
                {% include 'snippets/likes.html' %}

                {% if user.is_authenticated and user == post.author %}
                <a href="{% url 'post-edit' post.id %}">Edit</a>
                <a href="{% url 'post-delete' post.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</article>

<!---------------------- Comment delete HTML ------------------------>

{% extends 'layouts/b.html' %}

{% block content %}

<h1>Delete Comment</h1>

{% include 'a_posts/comment.html' %}

<p class="my-6">Are you sure you want to delete this comment?</p>

<form method='POST'>
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
</form>

{% endblock %}

<!-- Reply.html  -->
{% load static %}
<reply id="reply-{{ reply.id }}" class="block pt-2 mt-2 border-t">
    <div class="flex items-end justify-between">
        <div class="flex">
            {% if reply.author %}
            <a href="{% url 'userprofile' reply.author.username %}">
                <img class="w-8 h-8 object-cover rounded-full mr-2" src="{{ reply.author.profile.avatar }}">
            </a>
            {% else %}
            <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar_default.svg' %}">
            {% endif %}
            <div class="w-fit">
                {% if reply.author %}
                <a class="block" href="">
                    <span class="font-bold hover:underline">{{ reply.author.profile.name }}</span>
                    <span class="text-sm text-gray-400">@{{ reply.author.username }}</span>
                </a>
                {% else %}
                <span class="text-gray-500">no author</span>
                {% endif %}
                <div class="mr-3">{{ reply.body }}</div>
            </div>
        </div>
        <div class="flex items-center gap-4 [&>a:hover]:underline">
            {% include 'snippets/likes_reply.html' %}
            {% if user.is_authenticated and reply.author == user %}
            <a class="cursor-pointer"
                hx-get="{% url 'reply-delete' reply.id %}"
                hx-target="#reply-{{ reply.id }}" 
                hx-swap="outerHTML">
                Delete
            </a>
            {% endif %}
        </div>
    </div>
    <div class="ml-10">
        {% if reply.level < 5 %}
	    <a class="font-bold hover:underline text-xs cursor-pointer"
            hx-get="{% url 'reply-form' reply.id %}"
            hx-target="this"
            hx-swap="outerHTML" >
	        Reply
	    </a>
        {% endif %}
        <div class="mt-2">
            {% for reply in reply.replies.all %}
            {% include 'a_posts/reply.html' %}
            {% endfor %} 
        </div>
	</div>
</reply> 


{% if reply.parent_reply.id %}
<div class="hidden">
<a id="replylink-{{ reply.parent_reply.id }}"
    class="font-bold hover:underline text-xs cursor-pointer"
    hx-get="{% url 'reply-form' reply.parent_reply.id %}"
    hx-target="this"
    hx-swap="outerHTML" 
    hx-swap-oob="true">
    Reply
</a>
</div>
{% endif %}


<!-- Reply_delete.html-->

{% extends 'layouts/b.html' %}

{% block content %}

<h1>Delete Reply</h1>

<div class=" card px-6 pt-3 text-md mb-6 [&>*>*>a]:text-sm">

    {% include 'a_posts/reply.html' %}

</div>

<p class="mb-6">Are you sure you want to delete this reply?</p>

<form method='POST'>
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
</form>


{% endblock %}